/*
Styles for older IE versions (previous to IE9).
*/
/* images */
img.header-image,
img.wp-post-image,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	width: inherit; /* fixed bug making image bigger than specified*/
}
/* nav menu */
.main-navigation ul.nav-menu a, 
.main-navigation div.nav-menu > ul a {
  clip: auto;
  position: relative;
}
#masthead .site-title a:focus,
.main-navigation ul.nav-menu a:focus,
.main-navigation div.nav-menu > ul a:focus {
    background: inherit;
    border: 0;
    border-radius: 0;
    color: #21759B;
    display: inline;
    font-size: inherit;
    padding: inherit;
    position: static;
    z-index: auto;
}
.main-navigation ul.children li a:focus {
  background: #e3e3e3;
  color: #444;
  border-bottom: 1px solid #ededed;
  display: block;
  font-size: 11px;
  font-size: 0.785714286rem;
  line-height: 2.181818182;
  padding: 8px 10px;
  padding: 0.571428571rem 0.714285714rem;
  width: 180px;
  width: 12.85714286rem;
  white-space: normal;
}